.course-container {
    display: flex; 
    flex-wrap: wrap; 
    justify-content: space-around;
    
    background:linear-gradient(rgba(22, 2, 2, 0.597),black);
  }
  
  .course-item {
    display: flex;
  flex-direction: column; 
  align-items: center; 
  text-align: center; 
  }
  .course-item img {
    border: 3px solid #333; 
    border-radius: 10px; 
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); 
  }
  .unlock1 {
    margin-top: -50px; 
  margin-right: 170px;
  color:whitesmoke;
  background-color:black;
  }
  @media screen and (max-width: 768px) {
    .course-item {
      width: 45%; /* Adjust the width for smaller screens */
    }
  }

  @media screen and (max-width: 480px) {
    .course-item {
      width: 100%; /* Full width on even smaller screens */
    }
  }

  .next{

  background-color: hsla(49, 92%, 51%, 0.774);
  color: black;
  padding: 16px;
  font-size: 16px;
  border-radius: 50px;
  height:10%;
  width:20%;
  }