.chord{
  background-image:linear-gradient(rgba(117, 153, 233, 0.838),rgba(37, 29, 29, 0.537)),url("https://c8.alamy.com/comp/2C8GTCY/vector-illustration-of-a-seamless-abstract-musical-background-2C8GTCY.jpg");
  background-size:cover;

}
.Chord1{
  color:whitesmoke;
}
.image-container {
    position: relative;
    display: inline-block;
    padding: 5px;
    margin-left:50px;
  margin-top:10px;
  border-radius: 2%;
  background-color: rgba(14, 14, 14, 0.927);
  background-size:cover;
    
  }
  
  .button1 {
    position: absolute;
    top: 50%;
    left: 24%;
    background-color: #de9173da;
    border: none;
    color: black;
    padding: 16px;
    font-size: 16px;
    border-radius: 50px;
    height:15%;
    width:16%; 
  }
  
  .button2{
    position: absolute;
    top: 30%;
    height:15%;
    width:16%;
    right:68%;
    background-color: #de73acda;
    border: none;
    color: black;
    padding: 16px;
    font-size: 16px;
    border-radius: 50px;
  }
  .button3{
      position: absolute;
      top: 60%;
      right:50%;
      background-color: #77de73da;
      border: none;
      color: black;
      padding: 16px;
      font-size: 16px;
      border-radius: 50px;
      height:15%;
      width:16%;
}
.button4{
      position: absolute;
      top: 28%;
      height:15%;
      width:16%;
      right:38%;
      background-color: #d2de73da;
      border: none;
      color: black;
      padding: 16px;
      font-size: 16px;
      border-radius: 50px;
      
    }
  @media screen and (max-width: 768px) {
    .image-container {
      margin-left: 2%;
    }
  
    .button {
      font-size: 12px;
    }
  }
  
  @media screen and (max-width: 576px) {
    .image-container {
      margin-left: 0;
    }
  
    .button {
      font-size: 10px;
    }
  }
  
  @media screen and (max-width: 480px) {
    .button {
      padding: 10px;
    }
  }