.cont {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title{
  font-family: 'Times New Roman', Times, serif;
  font-size: 40px;
}
.tuto {
  flex: 1;
  height:500px;
  right:10%;
  
}

.img-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 20px;
}
.btn{
  position: absolute;
  top: 30%;
  left: 12%;
  background-color: hsla(49, 92%, 51%, 0.774);
  color: black;
  padding: 5px;
  font-size: 16px;
  border-radius: 50px;
  height:10%;
  width:5%;
}
.btn1{
  position: absolute;
  top: 50%;
  left: 12%;
  background-color: hsla(49, 92%, 51%, 0.774);
  color: black;
  padding: 16px;
  font-size: 16px;
  border-radius: 50px;
  height:10%;
  width:5%;
}
.btn2{
  position: absolute;
  top: 60%;
  left: 12%;
  background-color: hsla(49, 92%, 51%, 0.774);
  color: black;
  padding: 16px;
  font-size: 16px;
  border-radius: 50px;
  height:10%;
  width:5%;
}
.btn3{
  position: absolute;
  top: 70%;
  left: 12%;
  background-color: hsla(49, 92%, 51%, 0.774);
  color: black;
  padding: 16px;
  font-size: 16px;
  border-radius: 50px;
  height:10%;
  width:5%;
}
.btn4{
  position: absolute;
  top: 80%;
  left: 12%;
  background-color: hsla(49, 92%, 51%, 0.774);
  color: black;
  padding: 16px;
  font-size: 16px;
  border-radius: 50px;
  height:10%;
  width:5%;
}
