
.video-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .video-box {
    border: 2px solid #ccc;
    border-radius: 8px;
    margin: 10px;
    overflow: hidden;
    transition: all 0.3s ease;
    box-shadow: 4px 2px 4px 4px rgba(0, 0, 0, 0.773);
    margin-right:40px;
  }
  
  .video-box:hover {
    transform: scale(1.05);
  }
  
  