/* li{
   display: inline; 
} */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: rgb(247,221,173);
background: linear-gradient(258deg, rgba(247,221,173,1) 0%, rgba(251,163,0,1) 100%);

  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #111;
  }
  .log{
    float:right;
  }
  .active {
    background-color:  rgba(230, 156, 19, 0.875);
  }
